
body {
    background-color: white;
}

/* instax album styling */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 800px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    margin-top: -250px;
    position: absolute;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    will-change: transform; /* Optimization for rendering */
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform: translateZ(0);
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    backface-visibility: hidden; 
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.banner .slider .item p {
    opacity: 0; /* Hide paragraph text by default */
    transition: opacity 0.5s ease;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
}

.banner .slider .item.visible p {
    opacity: 1; /* Show text for the front-facing image */
    text-align:center;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
}

#toggleLeft,
#toggleRight {
    position: relative;
}

#toggleLeft {
    right: 190px;
    bottom: 112.5px;
}

#toggleRight {
    left: 190px;
    bottom: 112.5px;
}

.hidden {
    display: none;
}

.banner .content {
    position: absolute;
    bottom: 10%;
    right: 5%;
    text-align: right;
}


@media only screen and (max-width: 590px) {
    .banner {
        height: 100vh;
        min-height: 920px;
        max-height: 1080px;
        min-width: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        
    .banner .slider{
        position: absolute;
        /* margin-top: 50px; */
        width: 200px;
        height: 300px;
        /* top: 15;
        left: calc(50% - 100px); */
    }

    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(500px);
    }
    
    .banner .slider .item img {
        width: 100%;
        height: 100%;
    }
    
    .banner .slider .item p {
        font-size: 0.7rem;
    }

    .banner .slider .item.visible p {
        font-size: 0.7rem;
    }
        
    #toggleLeft,
    #toggleRight {
        
    position: static; /* Reset absolute positioning */
    z-index: 1;
    cursor: pointer;
    margin: 250px 0 20px; /* Fixed distance from the slider */
        
}
    .banner .content {
        bottom: 5%;
        right: 2%;
        }
    }




/* styling for gear.html */

.gear-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 80%; */
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    gap: 30px;
    
    padding-left: 0;
}

.gear-container:first-of-type{
    padding-top: 60px;
    margin-bottom: 50px;
}

@media screen and (max-width:991px) {
    .gear-container{
        flex-direction: column;
    }
}

.gear-image {
    flex:1;
}

.gear-image img{
    border-radius: 8px;
    width: 100%;
}

.gear-info {
    flex:2;
    text-align: center;
    padding: 0 20px 20px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 350;
    
}

.gear-info h2 {
    margin-bottom: 40px;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

/* styling for digicam gallery */

.gallery-container {
    padding: 60px 18px 18px 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 16px;
}

.gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-item .image img:hover {
    opacity: 0.7;
}


.w-2{
    grid-column: span 2;
}

.w-3{
    grid-column: span 3;
}


.h-2{
    grid-row: span 2;
}

/* Modal background  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal image  */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Modal caption  */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* Modal animation  */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform: scale(1)}
}

/* Close button */

.close {
    position: absolute;
    top: 80px;
    right: 35px;
    color: #f1f1f1;
    font-size: 5rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 90%;
    }
  }

  @media screen and (max-width:990px){
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
    .w-2{
        grid-column: span 1;
    }
    
    .w-3{
        grid-column: span 2;
    }
}


  @media screen and (max-width: 540px){
    .gallery-container{
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }
    .w-2{
        grid-column: span 1;
    }
    .w3{
        grid-column: span 1;
    }
    .h3{
        grid-row: span 3;
    }
    .h2{
        grid-row: span 2;
    }
  }


/* styling for navbar */


.navbar {
    width: 100%;
    padding: 1.5rem 0;
}

/* Center the h1 element within the navbar */
.navbar-title {
    display: flex;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0; 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    z-index: 5;
}

.navbar-nav a {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

@media screen and (max-width: 540px){
    .navbar-title {
        font-size: 1rem;
    }
}


/* 2k breakpoint */

@media screen and (min-width: 2560px) and (max-width:3839px){
    .navbar-title {
        font-size: 4rem;
    }

    .navbar-nav a {
        font-size: 2rem;
    }

    .banner .slider{
        position: absolute;
        width: 300px;
        height: 450px;
    }

    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    }

    .banner .slider .item p {
        font-size: 1.2rem;
    }
    
    .banner .slider .item.visible p {
        font-size: 1.2rem;
    }

    #toggleLeft, 
    #toggleRight {
        width: 60px;
        height: 60px;
        font-size: 1rem;
        padding: 10px;
    }

    #toggleLeft img,
    #toggleRight img {
        width: 30px;
    }

    #toggleLeft {
        right: 250px;
    }

    #toggleRight{
        left: 250px;
    }
    
    /* digicam styling */
    .modal-content {
        margin: auto;
        margin-top: 1%;
        width: 80%;
        max-width: 1440px;
    }

    .close {
        top: 100px;
        right: 50px;
        font-size: 6rem;
    } 

    #caption {
        padding: 20px 0 0 0;
        font-size: 2rem;
        font-weight: 400;
    }

}

/* 4k breakpoint */
@media screen and (min-width: 3840px){

    /* navbar styling */

    .navbar-title {
        font-size: 6rem;
    }
    
    .navbar-nav a {
        font-size: 3rem;
    }

    /* instax gallery styling  */
    .banner .slider{
        position: absolute;
        margin-top: -400px;
        width: 400px;
        height: 600px;
    }

    .banner .slider .item {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(600px);
    }

    .banner .slider .item p {
        font-size: 1.6rem;
    }
    
    .banner .slider .item.visible p {
        font-size: 1.6rem;
    }

    #toggleLeft,
    #toggleRight {
        width: 80px;
        height: 80px; 
        padding: 20px; 
    }

    #toggleLeft {
        bottom: 200px;
        right: 375px;
    }

    #toggleRight {
        bottom: 200px;
        left: 375px;
        
    }

    #toggleLeft img,
    #toggleRight img {
        width: 40px;
    }

    /* digicam styling */


    .modal-content {
        margin: auto;
        margin-top: 1%;
        width: 80%;
        max-width: 2160px;
    }

    .close {
        top: 100px;
        right: 50px;
        font-size: 7rem;
    } 

    #caption {
        padding: 20px 0 0 0;
        font-size: 3rem;
        font-weight: 400;
    }
}

